.Card {
  padding: 16px 22px;
  margin: 1rem 0;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
}

.Card__form input {
  background: none;
  padding: 0;
  outline: none;
  border: none;
}

.Card__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.5rem;
}

.Card__title {
  font-family: var(--font-fam-knewave);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
  font-size: 20px;
}

.Card__genre {
  margin: 0;
  color: var(--color-gray);
  font-family: var(--font-fam-inter);
  text-transform: lowercase;
  line-height: 1;
  font-size: 20px;
  font-weight: 100;
}

.Card__country {
  margin: 12px 0 0;
  font-size: 24px;
  line-height: 1;
}

.Card__country fieldset {
  border: none;
}

.Card__button {
  background-color: var(--color-black);
  font-family: var(--font-fam-knewave);
  letter-spacing: 1px;
  font-size: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 8px 22px;
}

.Card__button:hover {
  background-color: var(--color-gray);
}

.Card__button:disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

.Card__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Card__username {
  font-family: var(--font-fam-nanum);
  font-size: 20px;
  font-weight: 100;
  color: var(--color-gray);
  margin: 8px 0 0;
}
