.CardButton {
  font-size: 16px;
  padding: 12px 16px;
  color: var(--color-white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  background: var(--color-black);
}

.CardButton:hover {
  background: var(--color-light-gray);
  color: var(--color-black);
}

.CardButton.m-delete {
  background: var(--color-red);
  border: none;
}

.CardButton.m-delete:hover {
  background: var(--color-red-dark);
}

.CardButton:hover {
  padding: 8px 12px;
  margin: 4px 4px;
}

.CardButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.CardButton__text {
  margin-left: 8px;
}
