.Card {
  display: flex;
  padding: 16px 22px;
  /* Applying margin bottom vs top to avoid slight jitter on card flip */
  margin: 0 0 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  width: 100%;
  text-align: left;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  /* TODO Magic number */
  min-height: 191px;
}

.Card__formInput {
  background: none;
  padding: 0;
  outline: none;
  border: none;
  width: 100%;
}

.Card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Card__header.m-flexEnd {
  justify-content: flex-end;
}

.Card__title {
  font-family: var(--font-fam-knewave);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
  font-size: 20px;
}

.Card__menuIcon:hover {
  color: var(--color-black);
}

.Card__genre {
  margin: 0;
  color: var(--color-gray);
  font-family: var(--font-fam-inter);
  text-transform: lowercase;
  line-height: 1;
  font-size: 20px;
  font-weight: 100;
}

.Card__country {
  margin: 12px 0 0;
  font-size: 24px;
  line-height: 1;
}

.Card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.Card__postedInfo {
  margin: 16px 0 0;
  font-size: 14px;
  color: var(--color-gray);
}

.Card__postedDate {
  border-bottom: 1px solid var(--color-gray);
}

.Card__footer.m-flexEnd {
  justify-content: flex-end;
}

.Card__username {
  font-family: var(--font-fam-nanum);
  font-size: 20px;
  vertical-align: middle;
}

/* Hack to autogrow textarea: https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */

.Card__descriptionContainer,
.Card__description {
  display: grid;
  font-family: monospace;
  text-align: center;
  font-size: 16px;
}
.Card__descriptionContainer::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.Card__descriptionContainer .Card__description {
  resize: none;
  overflow: hidden;
}
.Card__descriptionContainer .Card__description,
.Card__descriptionContainer::after {
  word-wrap: anywhere;
  grid-area: 1 / 1 / 2 / 2;
}
