.Feed__button {
  background-color: var(--color-black);
  font-family: var(--font-fam-knewave);
  font-size: 20px;
  color: var(--color-white);
  text-transform: uppercase;
}

.Feed__button:hover {
  background-color: var(--color-gray);
}
