.FeedContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 16px 0 0;
}

.FeedContainer__feedHeader {
  display: flex;
  justify-content: space-between;
}

.FeedContainer__feedTitle {
  margin: auto 0;
  font-size: 18px;
  font-family: monospace;
  text-transform: uppercase;
  color: var(--main-text);
}

.FeedContainer__footerMessage,
.FeedContainer__emptyFeed {
  font-size: 20px;
  font-family: var(--font-fam-nanum);
  color: var(--secondary-text);
}

.FeedContainer__footerMessage {
  margin: 22px auto;
}

.FeedContainer__emptyFeed {
  margin: auto;
}
