.Feed {
  position: relative;
  top: var(--navbar-height);
  display: flex;
  flex-direction: column;
}

.Feed__button {
  background-color: var(--color-black);
  font-family: var(--font-fam-knewave);
  font-size: 20px;
  color: var(--color-white);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 22px;
  max-width: max-content;
}

.Feed__button:hover {
  background-color: var(--color-gray);
}

.Feed__footerMessage {
  font-size: 20px;
  font-family: var(--font-fam-nanum);
  margin: 22px auto;
}
