.MainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--container-max-width);
  min-height: 100%;
  margin: 0 auto;
  padding: 0 16px var(--comment-box-height);
}
