.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #181818;
  color: var(--main-text);
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  z-index: 99;
}

.Navbar__container {
  padding: 0 16px;
  width: 100%;
  max-width: var(--container-max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Navbar__menu {
  margin: auto 0;
  font-family: var(--font-fam-nanum);
  text-align: center;
}

.Navbar__username {
  margin: 0;
}

.Navbar__image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.Navbar__logo {
  background-color: var(--main-text);
  width: var(--navbar-height);
  object-fit: cover;
}
