.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #181818;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  z-index: 1;
}

.Navbar__container {
  padding: 0 16px;
  width: 100%;
  max-width: var(--container-max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Navbar__logo {
  width: var(--navbar-height);
  object-fit: cover;
}

.Navbar__logo:hover {
  opacity: 0.8;
}
