.SignOutButton {
  background-color: var(--color-black);
  font-family: var(--font-fam-knewave);
  letter-spacing: 1px;
  font-size: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 8px 22px;
}

.SignOutButton:hover {
  background-color: var(--color-gray);
}
