.UserProfile {
  padding-top: 16px;
  text-align: center;
  font-family: var(--font-fam-nanum);
  color: var(--main-text);
}

.UserProfile__username {
  font-size: 22px;
  margin: 0;
}

.UserProfile__signOut {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
