.UserFeed {
  position: relative;
  top: var(--navbar-height);
}

.UserFeed__button {
  background-color: var(--color-black);
  font-family: var(--font-fam-knewave);
  letter-spacing: 1px;
  font-size: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 8px 22px;
}

.UserFeed__button:hover {
  background-color: var(--color-gray);
}
